<h1>{{titulo}}</h1>

<form action="/" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Producto</label>
        <input type="text" class="form-control" name="product" placeholder="producto" >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Precio</label>
        <input type="number" class="form-control" id="exampleInputPassword1" name="price" placeholder="precio">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{!-- <a href="/productos"><button style="margin: 15px">Productos</button></a> --}}

<div>
    <h1>Productos</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
            </tr>
            {{#each data}}
            <tbody>
                <tr>
                    <td>{{this.product}}</td>
                    <td>{{this.price}}</td>
                </tr>
            </tbody>
            {{/each}}
        </thead>
    </table>


    <h1>Chat</h1>
    <form onsubmit="return addInfo()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" class="form-control" name="email" placeholder="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mensaje</label>
            <input type="text" placeholder="mensaje" class="form-control" id="message" />
        </div>
        <input type="submit" value="Enviar">
    </form>
    <div id="chat"></div>
</div>